<!DOCTYPE html>
<html>
  <head>
    <title>Cactool - Uh-oh, 404 Error</title>
  </head>
  <body>
    <div style="text-align:center; height: 100vh; display: flex; align-items: center; justify-content: center;">
      <img src="/static/assets/404error.png" alt="404 Error" style="width:auto;height:auto;">
      <h2 style="font-weight:bold;">Welp! This is a prickly situation.</h2>
      <p>This page must be lost in the desert, or just doesn’t exist. So I guess that makes this a 404 Error page.</p>
      <p>Anyway, you can find your way back home by visiting the Cactool home page, or maybe by pressing your browsers back button.</p>

    </div>
  </body>
</html> 
