<template id="text-input">
    <div class="input-group">
        <input class="form-control">
    </div>
</template>

<template id="display">
    <p class=information></p>
</template>

<script>
    updateRadio = (element) => {
        [...element.parentElement.parentElement.querySelectorAll("label")].forEach(
            element => {
                element.classList.remove("btn-primary")
                element.classList.add("btn-outline-primary")
            }
        );
        element.parentElement.classList.add("btn-primary");
        element.parentElement.classList.remove("btn-outline-primary");
    }
</script>
<template id="yes-no">
    <div class="btn-group">
        <label class="btn btn-outline-primary">
            Yes
            <input type="radio" value="yes" style="display: none;" onclick="updateRadio(this)">
        </label>
        <label class="btn btn-outline-primary">
            No
            <input type="radio" value="no" style="display: none;" onclick="updateRadio(this)">
        </label>
    </div>
</template>

<template id="numerical-ordinal">
    <div class="input-group multi-choice">
    </div>
</template>

<template id="ordinal-select">
    <label class="l15">
        <span></span>
        <br>
        <input type="radio">
        </label>
</template>

<template id="likert">
    <div class="input-group multi-choice">
        <label class="l15">
            Didn't like
            <br>
            <input type="radio" autocomplete="off" value="1">
        </label>

        <label class="l15">
            Tolerable
            <br>
            <input type="radio" autocomplete="off" value="2">
        </label>

        <label class="l15">
            Liked
            <br>
            <input type="radio" autocomplete="off" value="3">
        </label>

        <label class="l15">
            Liked a lot
            <br>
            <input type="radio" autocomplete="off" value="4">
        </label>

        <label class="l15">
            Loved
            <br>
            <input type="radio" autocomplete="off" value="5">
        </label>
    </div>
</template>
