<!DOCTYPE html>
<html>
  <head>
    <title>Cactool - Uh-oh, we've hit an Error</title>
  </head>
  <body>
    <div style="text-align:center;">
      <img src="/static/assets/404error.png" alt="My Image" style="width:auto;height:auto;">
      <h2 style="font-weight:bold;">Welp! This is a prickly situation.</h2>
      <p>This page must be lost in the desert, or just doesn’t exist. So I guess that makes this a 404 Error page.</p> 
      <p>Did you know that according to the National Park Service in America, it takes 10-years got a Saguaro Cactus to grow 1-inch, and 70-years to reach 6 feet?! </p>
      <p>Anyway, you can find your way back home by visiting the Cactool home page, or maybe by pressing your browsers back button?</p>

    </div>
  </body>
</html> 
