<!DOCTYPE html>
<html>
  <head>
    <title>Cactool - Uh-oh, we've hit an unknown error</title>
  </head>
  <body>
    <div style="text-align:center; height: 100vh; display: flex; align-items: center; justify-content: center;">
      <img src="/static/assets/StrangeError.png" alt="Strnage Error" style="width:auto;height:auto;">
      <h2 style="font-weight:bold;">Well, this is awkward, something has broken, and we're not quite sure what. So, this is an error message.</h2>
      <p>This page must be lost in the desert, or just doesn’t exist. So I guess that makes this a 404 Error page.</p> 

      <p>Don’t worry, we’ll never desert you. Your data is probably fine, you’ve just taken an action we weren’t quite expecting you to take!</p>
      <p>Did you know that the spikes on a cactus not only prevent the plant from being eaten, it also disrupts airflow, stopping evaporation!</p>
      <p>If you keep seeing this error page, please let us know via the issues page on our <a href="https://github.com/cactool/cactool/issues">Github’s issue page</a> detailing how you got here. This will be a huge help.</p> 
      
     <p>You can try going back to your Cactool instance’s homepage, or pressing the back button!</p>
    </div>
  </body>
</html> 
