<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cactool</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <link href="/static/css/bootstrap-icons.css" rel="stylesheet" />
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        {% include 'card.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
          {% include 'navigation.html' %}
          {% include 'flash.html' %}
                        <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Please enter your 2FA code to access the site</h2></div>
                        {{ qrcode | safe}}
                        <input class="form-control" placeholder="Code" name=otp form=otp></input>
                        <input type="submit" class="btn btn-primary btn-lg px-4 me-sm-3" value="Confirm" form=otp>
                        <form method=POST id=otp></form>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
