<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cactool - Sign up</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <link href="/static/css/bootstrap-icons.css" rel="stylesheet" />
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <link href="/static/css/login.css" rel=stylesheet />
    </head>
    <body>
        {% include 'navigation.html' %}
        {% include 'flash.html' %}
        <div class=main-content>
            <div class=signup-container>
                <h1>Sign up</h1>
                <div class=login-content>
                    <p>Please enter your information in order to sign up to this Cactool instance.</p>
                    <p>Passwords must have 8 or more characters and must contain a number and a letter.</p>
                    <form action="/signup" method="post" class=login-form>
                        <h3>First name</h3>
                        <input name=firstname  class=form-control />
                        <h3>Surname</h3>
                        <input name=surname  class=form-control />
                        <br>
                        {% if config['request-email']  %}
                            {% if config['require-email'] %}
                                <h3>Email</h3>
                                <input name=email type=email  class=form-control />
                            {% else  %}
                            <h3>Email</h3> <h2>(optional)</h3>
                                <input name=email class=form-control />
                            {% endif %}
                        {% endif %}
                        <br>
                        <h3>Password</h3>
                        <input name=password type=password class=form-control />
                        <br>
                        {% if config['signup-code'] %}
                            <h3>Sign up code</h3>
                            <input class=form-control />
                            <br>
                        {% endif %}
                        <input type="submit" class="btn btn-dark form-control" value="Sign up"/>
                    </form>
                </div>
                <div class=login-links>
                    <a href="#">Request access</a>
                    <a href="#">Recover password</a>
                    <a href="#">Data policy</a>
                </ul>
            </div>
        </div>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
