.l15 {
    padding-left: 5%;
}

.multi-choice {
    display: flex;
    justify-content: center;
}

.text-centre {
    text-align: center;
}

input {
    border-width: 2px !important;
}

.hover {
    border-bottom: 1px dotted black;
}

.information {
    font-family: monospace !important;
    font-weight: normal !important;
    text-align: left !important;
}
