body {
  font-family: Roboto;
}

.main-content {

  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

@media screen and (max-height: 850px) {
    .main-content {
        margin-top: 0;
    }
}

.login-container {
  background-color: white;

}

@media screen and (orientation: portrait) {
  .login-container {
    width: max(60vw, 500px);
    height: max(65vw, 540px);
  }
}

@media screen and (orientation: landscape) {
  .login-container {
    width: max(60vh, 600px);
    height: max(65vh, 560px);
  }
}

h1 {
  text-align: center;
  background-color: #21202e;
  color: white;
  padding: 5px;
}

.login-content {
  padding: 20px;
}

.login-form {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
}

h3 {
  text-align: center;
}

a {
  color: black;
}

.login-links {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  list-style-type: none;
}
