body {
  font-family: Roboto;
  background-color: #f5f5f5;
}

.main-content {
  display: flex;
  justify-content: center;
}

.main-content.login {
  margin-top: 15vh;
}

.main-content.signup {
  margin-top: 10px;
}

@media screen and (max-height: 850px) {
    .main-content {
        margin-top: 0;
    }
    body {
        background-color: white;
    }
}

.login-container, .signup-container {
  background-color: white;

}

@media screen and (orientation: portrait) {
  .login-container {
    width: max(60vw, 500px);
    height: max(65vw, 540px);
  }
}

@media screen and (orientation: landscape) {
  .login-container {
    width: max(60vh, 600px);
    height: max(65vh, 560px);
  }
}

@media screen and (orientation: portrait) {
  .signup-container{
    width: max(60vw, 800px);
    height: max(65vw, 840px);
  }
}

@media screen and (orientation: landscape) {
  .signup-container {
    width: max(60vh, 800px);
    height: max(65vh, 860px);
  }
}

h1 {
  text-align: center;
  background-color: #21202e;
  color: white;
  padding: 5px;
}

.login-content {
  padding: 20px;
}

.login-form {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
  width: 100%;
}

h2, h3 {
  text-align: center;
}

h2 {
    font-size: 15px;
}

a {
  color: black;
}

.login-links {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  list-style-type: none;
}
